/* 



.carousel {
    display: flex;
    overflow-x: auto;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
  
  .card {
    flex: 0 0 300px;
    margin-right: 20px;
    scroll-snap-align: start;
    border: 1px solid #ccc;
  }
  
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card-content {
    padding: 10px;
  }
  
  @media screen and (max-width: 768px) {
    .card {
      flex: 0 0 calc(50% - 10px);
      margin-right: 10px;
    }
  } */
  
  .carousel {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: calc(100% - 40px);
    margin: 0 20px;
  }
  
  .card {
    position: relative;
    flex: 0 0 calc(30% - 10px);
    margin-right: 20px;
    scroll-snap-align: start;
    border:none;
    /* border: 1px solid #ccc; */
  }
  
  /* .card:first-child, */
  .card:nth-child(2) {
    flex: 0 0 calc(45.5% - 10px);
  }
  .card:first-child,
  .card:nth-last-child(1){
    flex: 0 0 calc(5% - 10px); 
   
  }
  /* .card:last-child, */
  .card:nth-last-child(2) {
    flex: 0 0 calc(45.5% - 10px);
  }
  
  .card img {
    width: 100%;
    height: 420px;
    object-fit: cover;
  }
  
  .card-content {
    padding: 10px;
    /* margin-top: -60px; */
    /* position: absolute; */
    /* bottom: -20px; adjust top property to move it above the image */
    left: 0;
    right: 0;
    /* background-color: rgb(85, 52, 52); */
    margin-right: 20px;
    margin-left: 20px;
  }
  .card:first-child .card-content,
.card:nth-last-child(1) .card-content {
  display: none;
  /* margin-top: -60px; */
}
.card:first-child .card-content {
  display: none;
  /* margin-top: -60px; */
}
  .onecard,.threecard{
    /* background-color: #FFFBDE; */
  }
  .twocardt,.fourcard{
 /* background-color: #DFFFFC; */
  }
  @media screen and (max-width: 768px) {
    .card {
      flex: 0 0 calc(50% - 10px);
      margin-right: 10px;
    }
  }
  @media screen and (max-width: 426px) {
    .card img {
   height:200px
    }
.cardh3{
font-size: 15px !important;
text-align: center;
}
.cardp{
font-size: 12px !important;
display: none;
}
.card-content {
  margin-right: 5px;
  margin-left: 5px;
  /* margin-top: -22px; */
}

  }